.header {

}

.applications {
  margin-top: 200px;
}
.application {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px  ;
}

.error {
  margin-top: 40px;
  width: 1160px;
  color: #c3073f;
}

.errorText {
  font-family: Montserrat, serif;
  font-size: 20px;
  font-weight: 400;
}
