.registrationForm {
  height: 680px;
  width: 560px;
  border: 2px solid #C3073F;
  margin: 200px auto auto;
  text-align: center;
}

.loginForm {
  height: 550px;
  width: 560px;
  border: 2px solid #C3073F;
  margin: 250px auto auto;
  text-align: center;
}

.sendButton {
  width: 360px;
  height: 46px;
  margin-top: 70px;
  cursor: pointer;
}

.authInput {
  width: 360px;
  border: 2px solid #494949;
  margin-top: 26px;
  margin-bottom: 0;
}
.authInputError {
  width: 360px;
  border: 2px solid #950740;
  margin-top: 26px;
  margin-bottom: 0;
}

.header {
  font-size: 36px;
  margin-top: 85px;
  margin-bottom: 29px;
}

.link {
  margin-top: 10px;
  width: 269px;
  text-align: left;
  margin-left: 100px;
}

.navigateLink {
  color: #C3073F;
  text-decoration: none;
}

.error {
  font-size: 15px;
  margin-top: 20px;
  width: 300px;
  text-align: left;
  margin-left: 100px;
  color: #950740
}

.password {
  position: relative;
}

.eye:hover {
  color: #c3073f;
}

.eye span {
  font-size: 30px;
}
.eye {
  margin-top: -37px;
  margin-left: 474px;
  cursor: pointer;
  color: #494949;
  position: absolute;
  /*font-size: 30px;*/
}

