.nav {
    margin-right: 45px;
}


.navMenu {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    line-height: 17px;
}

.activeLink {
    text-transform: uppercase;
    font-size: 14px;
    color: #C3073F;
    font-weight: 500;
    line-height: 17px;
    cursor: default;
  text-decoration: none;
}

.navMenu:hover {
  color: #950740;
}