.selectorLong {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.015em;
  font-weight: 400;
  height: 46px;
  background-color: #1a1a1d;
  color: #494949;
  border-radius: 0;
  box-sizing: border-box;
  margin-bottom: 25px;
  outline: 0;
  padding-left: 17px;
  width: 344px;
  margin-right: 40px;
  border: 2px solid #494949;
}

.sendForm {
  display: grid;
  grid-template-columns: 344px 344px;
  grid-column-gap: 40px;
}

.sendButton {
  width: 360px;
  height: 46px;
  margin-top: 11px;
  margin-left: 200px;
}
