.form-group {
  padding: 1em;
  margin: 1em
}

.fileLoadInput input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none
}

.label {
  width: 304px;
  border: 2px dashed #494949;
  border-radius: 5px;
  display: block;
  padding: 1.2em;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  height: 77px;
}

.labelActive {
  width: 304px;
  border: 2px solid #c3073f;
  border-radius: 5px;
  display: block;
  padding: 1.2em;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  height: 77px;
}

.labelError {
  width: 304px;
  border: 2px dashed #950740;
  border-radius: 5px;
  display: block;
  padding: 1.2em;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  height: 77px;
}

.labelActive i {
  display: block;
  font-size: 42px;
  padding-bottom: 16px
}

.labelActive i, .labelActive .title {
  color: #c3073f;
  transition: 200ms color
}

.labelError i {
  display: block;
  font-size: 42px;
  padding-bottom: 16px
}

.labelError i, .labelError .title {
  color: #950740;
  transition: 200ms color
}

.label i {
  display: block;
  font-size: 42px;
  padding-bottom: 16px
}

.label i, .label .title {
  color: #494949;
  transition: 200ms color
}

.label:hover {
  border: 2px solid #c3073f;
}

.label:hover i,
.label:hover .title {
  color: #c3073f
}


.labelError:hover {
  border: 2px solid #c3073f;
}

.labelError:hover i,
.labelError:hover .title {
  color: #c3073f
}

.imageLoadLabel {
  width: 109px;
  border: 3px dashed #494949;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  height: 73px;
  color: #494949;
}

.imageLoadLabel span {
  font-size: 42px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

.imageLoadLabel:hover {
  border: 3px dashed #c3073f;
  color: #c3073f;
}


