.footerLine {
  width: 1160px;
  height: 0;
  opacity: 0.3;
  border-bottom: 3px solid #fff;
  margin-top: 230px;
}

.header {
  font-family: akzidenzMediumEx, serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.015em;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info {
  font-family: Montserrat, serif;
  font-weight: 400;
  line-height: 25px;
  font-size: 13px;
  letter-spacing: 0.015em;
  color: #717171;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  display: block;
}

.information {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-column-gap: 60px;
}

.information img {
  width: 100px;
  margin-top: 20px;
  margin-left: 5px;
}

.columns {
  margin-top: 40px;
}

.main p {
  /*margin-left: 15px;*/
}

.info:hover {
  color: #c3073f;
  cursor: pointer;
}


