.info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #717171;
}

.entryField {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  height: 46px;
  background-color: #1a1a1d;
  color: #494949;
  border-radius: 0;
  font-weight: 400;
  box-sizing: border-box;
  margin-bottom: 25px;
  outline: 0;
  padding-left: 17px;
  width: 344px;
  margin-right: 40px;
  border: 2px solid #494949;
}

.sendButton {
  width: 360px;
  height: 46px;
  margin-top: 11px;
  margin-left: 200px;
}