.editAvatarActive {
  width: 260px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
  position: absolute;
  bottom: 0;
  transition: 0.4s;
}

.editAvatar {
  width: 260px;
  height: 0;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
  position: absolute;
  bottom: 0;
}

.input {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  position: absolute;
}
.editText {
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 0.1s;
  font-family: akzidenzLightEx, serif;
  left: 25px;
  color: #FFFFFF;
}

.editTextActive {
  position: absolute;
  opacity: 1;
  transition: 0.6s;
  font-family: akzidenzLightEx, serif;
  left: 25px;
  bottom: 15px;
  color: #FFFFFF;
}

.delete {
  margin-left: 8px;
  cursor: pointer;
}

.delete:hover {
  color: #c3073f;
}

.update:hover {
  color: #c3073f;
}

.update {
  margin-bottom: 5px;
  cursor: pointer;
}
