.fullImg {
  width: 560px;
  margin-top: 230px;
}

.selectedMini {
  width: 109px;
  border: 3px solid #c3073f;
  box-sizing: border-box;
  cursor: pointer;
  height: 71px;
}

.mini:hover {
  opacity: 60%  ;
}

.selectedMini:hover {
  opacity: 60%;
}

.littleImg {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 560px;
  grid-gap: 3px;
}

.mini {
  width: 109px;
  cursor: pointer;
  height: 71px;
}

.carPage {
  display: grid;
  grid-template-columns: 560px 1fr;
  grid-column-gap: 40px;
}
