.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;

  background-color: #1a1a1d;
  /*background-color: gold;*/
  align-items: center;

}

.logo {
  width: 100px;
  margin-right: 100px;
}

.nav {
  display: flex;
}

.line {
  top:99px;
  position: fixed;
  width: 100%;
  left: 0;
  border: 1px solid #c3073f;
  /*margin-top: 230px;*/
}