.selector {
  width: 344px;
  /*margin-right: 40px;*/
  margin-right: 0;
  border: 2px solid #494949;
  margin-bottom: 0;
  text-transform: capitalize;
}

.selectorError {
  width: 344px;
  /*margin-right: 40px;*/
  margin-right: 0;
  border: 2px solid #950740;
  margin-bottom: 0;
  text-transform: capitalize;
}


.content {
  padding-left: 17px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.015em;
  font-weight: 400;
  font-size: 18px;
  height: 46px;
  color: #717171;
  text-transform: capitalize;
}

.contentAdd {
  padding-left: 17px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.015em;
  font-weight: 400;
  font-size: 18px;
  height: 46px;
  color: #ffffff;
}

.options {
  border-left: 2px solid #494949;
  border-right: 2px solid #494949;
  border-bottom: 2px solid #494949;
  box-sizing: border-box;
  width: 344px;
  position: absolute;
  z-index: 100;
  background-color: #1a1a1d;
  max-height: 213px;
  overflow: auto;
}

.dropDown {
  /*margin-bottom: 25px;*/
  width: 344px;
}

.name {
  padding-top: 12px;
  cursor: pointer;
}

.content:hover {
  color: #c3073f;
}