.lang {
  font-family: akzidenzLightEx, serif;
  margin-left: 90px;
  border-radius: 50%;
  padding: 13px 10px;
  border: 2px solid #c3073f;
  color: #fff;
  cursor: pointer;
}

.lang:hover {
  color: #c3073f  ;
  /*border: 2px solid #fff;*/
}