.nameSpec {
  color: #717171;
  margin: 37px 53px 0 35px;
}

.dataSpec {
  color: #fff;
  font-size: 16px;
  font-family: akzidenzRegular, serif;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 35px;
  font-weight: 300;
}

