.profileImg {
  width: 260px;
  border: 7px solid #c3073f;
  box-sizing: border-box;
}

.recommendation {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1160px;
  /*grid-column-gap: 25px;*/
  grid-row-gap: 40px;
  margin-bottom: 50px;
}

.img {
  margin-top: 206px;
  position: relative;
  width: 260px;
  height: 260px;
}

.name {
  font-family: akzidenzMediumEx, serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  width: 569px;
  /*vertical-align: top;*/
  margin-top: 222px;
  margin-left: 140px;
  margin-bottom: 20px;
}

.profileInfo {
display: flex;
}

.info {
  display: flex;

}

.headerInfo {
  font-family: Montserrat, serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: #717171;
  margin-left: 140px;
  margin-top: 15px;
  margin-bottom: 0;
  width: 70px;
}

.contentInfo {
  font-family: akzidenzLightEx, serif;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 0;
}

.infoWrapper {
  margin: 0;
  width: 100%;
}

.settingButton {
  font-family: akzidenzLightEx, serif;
  font-weight: 300;
  margin-left: 140px;
  margin-top: 35px;
  width: 360px;
  height: 46px;
  cursor: pointer;
}

.settingButton:hover {
  box-shadow:0 0 10px #c3073f;
}

.historyHeader {
  margin-top: 100px;
}