.filter input {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.015em;
  font-weight: 400;
  font-size: 18px;
  height: 46px;
  background-color: #1a1a1d;
  /*color: #494949;*/
  border-radius: 0;
  box-sizing: border-box;
  outline: 0;
  padding-left: 17px;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}