.banner {
  background: url('../../../assets/main-bg.png') no-repeat center top;
  background-position-x: -500px;
  background-position-y: 40px;
  width: 140%;
}

.fill {
  /*margin-top: 300px;*/
  margin-left: 2px;
  padding-top: 400px;
  /*padding-right: 980px;*/
}


.stroke {
  margin-top: -10px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #c3073f;


}

.slogan {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 275;
  color: #fff;
  margin: 10px 0 0 0;
  width: 483px;
  letter-spacing: 0.08em;
  padding-bottom: 338px;
  height: 58px;
}

.bg {
}