.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1160px;
    grid-gap: 40px;
}

.head {
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.more {
    height: 17px;
    font-family: Montserrat, serif;
    font-weight: 500;
    margin-top: 277px;
    /*margin-left: 111px;*/
  margin-right: 52px;
    font-size: 14px;
    line-height: 124.4%;
    color: #C3073F;
    text-decoration: none;
    text-align: right;
}

.more:hover {
  color: #FFFFFF;
}