.addCar input {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.015em;
  font-weight: 400;
  font-size: 18px;
  /*height: 46px;*/
  background-color: #1a1a1d;
  /*color: #494949;*/
  border-radius: 0;
  box-sizing: border-box;
  outline: 0;
  padding-left: 17px;
}

.filter {
  display: grid;
  grid-template-columns: repeat(3, 344px);
  margin-top: 84px;
  grid-column-gap: 40px;
  grid-row-gap: 25px;
}
.addCar {
  margin-top: 200px;
}

.textInput {
  width: 344px;
  margin-bottom: 0;
  border: 2px solid #494949;
}

.textInputError {
  width: 344px;
  margin-bottom: 0;
  border: 2px solid #950740;
}


.fileInput {
  grid-column-start: 1;
  grid-column-end: 4;
}

.descriptionInput {
  margin-bottom: 0;
  border: 2px solid #494949;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
  height: 117px;
  text-align: start;
  margin-right: 40px;
  width: 728px;
}

.descriptionInputError {
  margin-bottom: 0;
  border: 2px solid #950740;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
  height: 117px;
  text-align: start;
  margin-right: 40px;
  width: 728px;
}

.addButton {
  width: 344px;
  height: 46px;
  margin-left: 384px;
  margin-top: 25px;
  cursor: pointer;
}

.addButton:hover {
  box-shadow:0 0 10px #c3073f;
}

.spec {
  display: flex;
  margin-top: 25px;
}

.clearButton {
  width: 172px;
  height: 46px;
  margin-left: 40px;
  margin-top: 25px;
  cursor: pointer;
  color: #494949;
  border: 2px solid #494949;
}

.clearButton:hover {
  box-shadow:0 0 10px #494949;
}