.catalog {

}

.searchButton {
  width: 344px;
  height: 46px;
  /*margin-left: 384px;*/
  margin-top: 25px;
  cursor: pointer;
}

.searchButton:hover {
  box-shadow:0 0 10px #c3073f;
}

.clearButton {
  width: 172px;
  height: 46px;
  margin-left: 40px;
  margin-top: 25px;
  cursor: pointer;
  color: #494949;
  border: 2px solid #494949;
}

.clearButton:hover {
  box-shadow:0 0 10px #494949;
}
